[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"

[packages]
gunicorn = "*"
eventlet = "*"
flask = "*"
simplejson = "*"
python-memcached = "*"
requests = "*"

[dev-packages]

pytest = "*"
mock = "*"

[requires]

#python_version = "3.7"
